.menu{
    position: relative;
    display: grid;
    align-content: flex-start;
    gap: 3rem;
    border: 1px solid black;
    height: 100%;

    .header{
        padding: 0 1rem;
        align-items: center;
        height: 30px;
        overflow-x: auto;
        span{
            cursor: pointer;
            border: 1px solid black;
            padding: 3px 20px;
            border-radius: 5px;
        }
    }
    .header1{
        display: flex;
        justify-content: space-between;
        padding-top: 1rem;
        gap: 0.5rem;
        &::-webkit-scrollbar{
            display: none;
        }
    }
    .header2{
        display: flex;
        justify-content: space-around;
    }
}
.active{
    color: white;
    background-color: #115528;
}
.comida{
    display: grid;
    gap: 3rem;
    padding: 0 10px;
}
.producto-pintxo{
    display: grid;
    gap: 0.5rem;
}
.producto-counter{
    display: flex;
    justify-content: space-between;
}

.product-desc-arr{
    display: grid;
}
.producto-plato{
    display: grid;
    gap: 0.5rem;
}
.producto-desc{
    padding: 0 10px;
}
.producto-plato-precio{
    display: flex;
    justify-content: space-between;
}
.producto-postre{
    display: grid;
    padding: 0 10px;
    div{
        display: flex;
        justify-content: space-between;

    }
}
.comida-postre{
    display: grid;
    padding: 0 10px;
    gap: 1rem;
}

.list-btn{
    position: sticky;
    bottom: 0;
    display: flex;
    justify-self: flex-end;
    width: 50px;
    height: 50px;
    background-color: #115528;
    padding: 0.5rem;
    border-radius: 5px;
    margin: 0.5rem;
    z-index: 5;

}
.modal2{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index:1;
    background-color: rgba($color: #000000, $alpha: 0.7);
}
